body {
  margin-top: 20px;
  background: #eee;
}

.panel-title {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.message-wrapper {
  padding: 0px;
  background-color: #ffffff;
}

.message-sideleft {
  padding-right: 0px;
  padding-left: 0px;
}

.message-sideright {
  background-color: #f8f8f8;
  padding: 30px;
}

.panel {
  background-color: transparent;
  box-shadow: none;
}

.panel-title {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.list-message .list-group-item {
  padding: 15px;
  color: #999;
  border-right: 3px solid #8cc152;
}

.list-group-item-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.list-message .list-group-item.active {
  background-color: #eee;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.panel-heading .media {
  display: flex;
  align-items: center;
}

.panel-body {
  padding-top: 20px;
  word-wrap: break-word;
}

.list-group-item-heading {
  color: #333;
}

.img-ajustada {
  max-width: 30%;
  height: auto;
  display: block;
  margin: 0 auto;
}