section {
  display: flex;
  justify-content: center;
}

.mensagem-list {
  float: left;
  width: 30%;
  padding: 10px;
}

.mensagem-conteudo {
  float: left;
  width: 70%;
  padding: 10px;
}

.mensagem {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f2f2f2;
}

.mensagem img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
